professor-ia/workflow-professor-ia.json
{
  "name": "Professor IA - Tutor Socrático",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [220, 300],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Professor IA Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-photo",
              "leftValue": "={{ $json.message.photo }}",
              "rightValue": "",
              "operator": {
                "type": "exists",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-photo",
      "name": "Tem Foto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.token }}/getFile?file_id={{ $json.message.photo.slice(-1)[0].file_id }}",
        "options": {}
      },
      "id": "get-file-path",
      "name": "Obter Caminho do Arquivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.token }}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-photo",
      "name": "Baixar Foto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-1.5-pro",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um professor de matemática paciente e carinhoso que ensina crianças do ensino fundamental.\n\nINSTRUÇÕES:\n1. Extraia o texto/números desta questão na imagem.\n2. Identifique o tipo de operação matemática (soma, subtração, multiplicação, divisão).\n3. Crie uma explicação passo a passo usando o MÉTODO SOCRÁTICO:\n   - Faça perguntas guiadas para a criança pensar.\n   - Use exemplos do dia a dia (balas, frutas, brinquedos).\n   - NÃO dê a resposta final diretamente.\n   - Encoraje a criança a tentar resolver.\n4. Use linguagem simples e divertida.\n5. Termine convidando a criança a tentar resolver.\n\nFORMATO DA RESPOSTA (JSON):\n{\n  \"questao_extraida\": \"texto da questão encontrada na imagem\",\n  \"tipo_operacao\": \"soma|subtração|multiplicação|divisão|outro\",\n  \"numeros_envolvidos\": [lista de números],\n  \"roteiro_avatar\": \"texto que o avatar vai falar (máximo 200 palavras, tom amigável e socrático)\",\n  \"texto_lousa\": \"texto formatado para a lousa visual com a conta destacada\",\n  \"dica_visual\": \"descrição de elemento visual para ajudar (ex: desenhar 10 bolinhas divididas em 2 grupos)\"\n}\n\nResponda APENAS com o JSON válido, sem markdown.",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.7
        }
      },
      "id": "gemini-vision",
      "name": "Gemini Vision - Analisar Questão",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1100, 200],
      "credentials": {
        "googleGeminiApi": {
          "id": "GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse da resposta do Gemini\nconst response = $input.first().json;\nlet parsed;\n\ntry {\n  // Tenta extrair JSON da resposta\n  let text = response.text || response.output || JSON.stringify(response);\n  \n  // Remove possíveis blocos de código markdown\n  text = text.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  \n  parsed = JSON.parse(text);\n} catch (e) {\n  // Fallback se não conseguir parsear\n  parsed = {\n    questao_extraida: \"Não consegui ler a questão claramente\",\n    tipo_operacao: \"desconhecido\",\n    numeros_envolvidos: [],\n    roteiro_avatar: \"Oi! Tive um pouquinho de dificuldade para ler sua questão. Pode tirar outra foto com mais luz? Tenta deixar o papel bem retinho na mesa!\",\n    texto_lousa: \"? + ? = ?\",\n    dica_visual: \"Tente tirar a foto novamente\"\n  };\n}\n\n// Dados do chat original\nconst chatId = $('Telegram Trigger').first().json.message.chat.id;\nconst studentName = $('Telegram Trigger').first().json.message.from.first_name || 'Aluno';\n\nreturn [{\n  json: {\n    ...parsed,\n    chat_id: chatId,\n    student_name: studentName,\n    roteiro_avatar: parsed.roteiro_avatar.replace(/\\{nome\\}/g, studentName)\n  }\n}];"
      },
      "id": "parse-response",
      "name": "Processar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $credentials.heygenApi.apiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $env.HEYGEN_AVATAR_ID || 'Angela-inTshirt-20220820' }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.roteiro_avatar }}\",\n        \"voice_id\": \"{{ $env.HEYGEN_VOICE_ID || 'pt-BR-AntonioNeural' }}\"\n      },\n      \"background\": {\n        \"type\": \"color\",\n        \"value\": \"#f0f9ff\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 720,\n    \"height\": 480\n  }\n}",
        "options": {}
      },
      "id": "heygen-generate",
      "name": "HeyGen - Gerar Vídeo Avatar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOUSA_API_URL || 'http://localhost:5000' }}/gerar-lousa",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"texto_lousa\": \"{{ $json.texto_lousa }}\",\n  \"numeros\": {{ JSON.stringify($json.numeros_envolvidos) }},\n  \"tipo_operacao\": \"{{ $json.tipo_operacao }}\",\n  \"dica_visual\": \"{{ $json.dica_visual }}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "gerar-lousa",
      "name": "Gerar Imagem Lousa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "wait-video",
      "name": "Aguardar Vídeo (15s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1760, 100]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.heygen.com/v1/video_status.get?video_id={{ $('HeyGen - Gerar Vídeo Avatar').first().json.data.video_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $credentials.heygenApi.apiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-video-status",
      "name": "Verificar Status Vídeo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1980, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "video-ready",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "video-ready-check",
      "name": "Vídeo Pronto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2200, 100]
    },
    {
      "parameters": {
        "chatId": "={{ $('Processar Resposta').first().json.chat_id }}",
        "text": "=📸 *{{ $('Processar Resposta').first().json.student_name }}*, recebi sua questão!\n\n📝 *Questão identificada:*\n{{ $('Processar Resposta').first().json.questao_extraida }}\n\n🎬 Estou preparando uma explicação especial pra você... Aguarde um momentinho! 🎓",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-processing-msg",
      "name": "Enviar Msg Processando",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 500],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Professor IA Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Processar Resposta').first().json.chat_id }}",
        "operation": "sendPhoto",
        "file": "={{ $('Gerar Imagem Lousa').first().binary }}",
        "additionalFields": {
          "caption": "=📋 *Lousa do Professor IA*\n\n{{ $('Processar Resposta').first().json.texto_lousa }}",
          "parse_mode": "Markdown"
        }
      },
      "id": "send-lousa",
      "name": "Enviar Lousa",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2420, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Professor IA Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Processar Resposta').first().json.chat_id }}",
        "operation": "sendVideo",
        "file": "={{ $json.data.video_url }}",
        "additionalFields": {
          "caption": "=🎓 *Explicação do Professor IA*\n\nAssista o vídeo e tente resolver! Quando terminar, me manda a resposta! 💪"
        }
      },
      "id": "send-video",
      "name": "Enviar Vídeo Avatar",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2420, 50],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Professor IA Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Processar Resposta').first().json.chat_id }}",
        "text": "=🎓 *Explicação do Professor IA:*\n\n{{ $('Processar Resposta').first().json.roteiro_avatar }}\n\n💡 *Dica visual:* {{ $('Processar Resposta').first().json.dica_visual }}\n\nTenta resolver e me manda a resposta! 💪",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-text-fallback",
      "name": "Enviar Texto (Fallback)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2420, 350],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Professor IA Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "📷 Oi! Eu sou o *Professor IA*! 🎓\n\nPara eu te ajudar, tira uma foto da questão de matemática e me envia aqui!\n\nEu vou:\n✅ Ler a questão\n✅ Explicar passo a passo\n✅ Fazer um vídeo especial pra você\n✅ Montar uma lousa com a conta\n\nVamos lá? 📸",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-welcome",
      "name": "Enviar Boas-vindas",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 400],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Professor IA Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nó para tratar erro do HeyGen e seguir com fallback de texto\nconst chatId = $('Processar Resposta').first().json.chat_id;\nconst roteiro = $('Processar Resposta').first().json.roteiro_avatar;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    message: roteiro,\n    fallback: true\n  }\n}];"
      },
      "id": "video-error-handler",
      "name": "Tratar Erro Vídeo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 350]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Tem Foto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem Foto?": {
      "main": [
        [
          {
            "node": "Obter Caminho do Arquivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar Boas-vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Caminho do Arquivo": {
      "main": [
        [
          {
            "node": "Baixar Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Foto": {
      "main": [
        [
          {
            "node": "Gemini Vision - Analisar Questão",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Vision - Analisar Questão": {
      "main": [
        [
          {
            "node": "Processar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta": {
      "main": [
        [
          {
            "node": "HeyGen - Gerar Vídeo Avatar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gerar Imagem Lousa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Msg Processando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HeyGen - Gerar Vídeo Avatar": {
      "main": [
        [
          {
            "node": "Aguardar Vídeo (15s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardar Vídeo (15s)": {
      "main": [
        [
          {
            "node": "Verificar Status Vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Status Vídeo": {
      "main": [
        [
          {
            "node": "Vídeo Pronto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vídeo Pronto?": {
      "main": [
        [
          {
            "node": "Enviar Vídeo Avatar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tratar Erro Vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Vídeo Avatar": {
      "main": [
        [
          {
            "node": "Enviar Lousa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Erro Vídeo": {
      "main": [
        [
          {
            "node": "Enviar Texto (Fallback)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar Lousa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Professor IA",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    },
    {
      "name": "Educação",
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z"
    }
  ],
  "pinData": {}
}
